[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/minhook"]
	path = lib/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "lib/luajit"]
	path = lib/luajit
	url = https://github.com/LuaJIT/LuaJIT.git
